@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}

:root{
    --bg-color: #1f1f21;
    --text-color: #fff;
    --main-color: #ffae00;

    --big-font: 4rem;
    --p-font: 1.1rem;
}

/* Navbar Start */
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}

nav a{
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: 0.3s;
}

nav a:hover,
nav a.active{
    color: rgb(2, 194, 207);
}


section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f242d;
}

section:nth-child(odd){
    background: #323946;
}

@media (max-width: 768px){
    section {
        padding: 40px 0;
    }
}

/* Navbar End */

/* Home Start */

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.home-img{
    width: 530px;
    height: 530px;
}

.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-text span{
    padding: 5px 25px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 100px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.home-text h1{
    color: #fff;
    font-size: var(--big-font);
    margin: 23px 0;
}

.home-text p{
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
}

.btn{
    display: inline-block;
    padding: 14px 34px;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.btn:hover{
    background: var(--main-color);
    transform: translateY(3px);
}

@media (max-width: 768px) {

    .home{
        width: 375px;
    }


    .home-text h1{
        font-size: 2.5rem;
    }

    .home-text span{
        padding: 5px 25px;
        background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
        box-shadow: 0px 20px 40px #00000070;
        border: 1px solid #3b3b3b;
        border-radius: 100px;
        color: var(--text-color);
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
    }

    .home-text p {
        font-size: 1rem;
    }

    .btn{
        font-size: 16px;
    }
}


/* Home End */

/* About Start */

.about{
    width: 100%;
    padding: 10px 0px;
    background-color: #191919;
}

.about img{
    height: 630px;
    width: 398px;
    margin-bottom: -100px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: #fff;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: -10px;
}

.about-text h5{
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 25px;
}

.button{
    display: inline-block;
    padding: 14px 34px;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.button:hover{
    background: var(--main-color);
    transform: translateY(3px);
}

/* About End */

/* Projects Start */


.projects{
    width: 100%;
    padding: 5px;
    text-align: center;
}

.title h1{
    color: #fff;
    font-size: var(--big-font);
    text-align: center;
    margin-top: 75px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}


.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    margin: 20px;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.card img{
    width: 100%;
    height: 47%;
    object-fit: cover;
}

.card-content{
    padding:7px;
}

.card-content h3{
    color: #000;
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    color:#000;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .butn{
    margin-top: 16px;
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 12px 34px;
    background: var(--main-color);
    position: center;
    cursor: pointer;
}

.card-content .butn:hover{
    transform: translateY(3px);
}

/* Projects End */

/* Socials Start */

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: var(--big-font);
    color: var(--text-color);
}

.work{
    margin-top: -100px;
    margin-bottom: 100px;
}

.social-links{
    display: flex;
}

.social-links a{
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
    margin: 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden; 
}

.social-links a .fa{
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.social-links a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(-45deg,#ed1c94, #ffec17);
    position: absolute;
    transition: 0.5s;
} 

.social-links a:hover::after{
    top: 0;
}

.social-links a:hover .fa{
    color: #fff;
}

/* Socials End */

